@import url(/CSS/1-header.css);


.espaciado{
    height: 20px;
}

.title{
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 200px;
}

.title span{
    color:#FFB500;
}
.title h1{
    font-size: 45px;
    border-bottom: 2px solid #FFB500;
    margin-top: 50px;
}

.title p {
    font-size: 15px;
    margin: 10px;
}

.texto-principal{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    height: 500px;
    gap: 80px;
}

.parrafo{
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.parrafo p{
    font-size: 22px;
    font-weight: 400;
}
.parrafo li{
    font-size: 17px;
    margin-top: 25px;
}

.parrafo span{
    color: #FFB500;
}

.parrafo ul{
    list-style-image: url("{% static './assets/img/Producto/2.svg' %}");
}

.contenedor-principal{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.6)
    ) 
    ,url(static\assets\img\Slider\technology-white-background-geometric-technology-wallpaper-free-vector.jpg); 
    background-size: inherit;
    margin-top: 90px;
}

.slider{
    display: flex;
    height: 660px;
    align-items: center;
    justify-content: center;
}

.slider-frame {
    width: 150vh;
    height: 520px;
    overflow: hidden;
    border-radius: 20px;
}

.slider-frame ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
    width: 100%;
    list-style: none;
}

.slider-frame img {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@keyframes slide {
	0% {
    margin-left: 0;
}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}


.intermedio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
    margin: 50px;
    background-color: white;
    padding: 20px;
    position: relative;
}

.intermedio h4{
    font-size: 35px;
    color: #FFB500;
    text-transform: uppercase;
}

.intermedio p{
    font-size: 22px;
    font-weight: 400;
}

@media(max-width: 500px){
    .title{
        margin-top: 0px;
    }
}

@media(max-width: 410px){
    .title{
        margin-bottom: 40px;
    }
}

@media(max-width:670px){
    .title{
        height: 15vh;
        width: 100%;
    }
    .title h1{
        font-size: 21px;
        margin: 20px;
    }
    .title p{
        font-size: 13px;
    }

    .texto-principal{
        height: 90vh;
        width: 80%;
        margin: 0 auto;
    }
    .texto-principal .imagen{
        display: none;
    }

    .parrafo{
        margin: 0;
    }
}

@media(max-width:791px){
    title{
        height: 15vh;
        width: 100%;
    }
    .title h1{
        font-size: 21px;
        margin: 20px;
    }
    .title p{
        font-size: 13px;
    }

    .texto-principal{
        height: 90vh;
        width: 80%;
        margin: 0 auto;
    }
    .texto-principal .imagen{
        width: 100vw;
        height: 30vh;
    }

    .parrafo{
        margin: 0;
    }
}

@media(max-width:880px){
    .contenedor-principal{
        width: 100%;
        height: 80vh;
        margin-top: 120px;
    }   
    .slider-frame{
        border-radius: 0;
    }
}
@media(max-width:680px){
    .contenedor-principal{
        width: 100%;
        height: 70vh;
    }   
}
@media(max-width:670px){
    .contenedor-principal{
        margin-top: 0px;
    }
}
@media(max-width:600px){
    .contenedor-principal{
        width: 100%;
        height: 60vh;
    }   
}
@media(max-width:500px){
    .contenedor-principal{
        width: 100%;
        height: 50vh;
    }   
}

@media(max-width:413px){
    .contenedor-principal{
        width: 100%;
        height: 45vh;
        background-image: none;
        margin: 0;
    }

    .slider-frame img{
        height: 33vh;
        width: 100%;
    }
}

@media(max-width:380px){
    .contenedor-principal{
        width: 100%;
        height: 40vh;
    }   
}

@media(max-width:360px){
    .contenedor-principal{
        margin-top: 200px;
    }
}

@media(max-width:375px){
    .contenedor-principal{
        margin-top: 150px;
    }
}

@media (max-width:413px) {
    .intermedio{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .intermedio h4{
        font-size: 30px;

    }
    .intermedio p{
        font-size: 19px;
        text-align: center;
    }
}   

@media (max-width:395px) {
    .intermedio h4{
        font-size: 30px;
    }
    .intermedio p{
        font-size: 18px;
        text-align: center;
    }
}   

@media (max-width:380px) {
    .intermedio h4{
        font-size: 30px;
    }
    .intermedio p{
        font-size: 16px;
        text-align: center;
    }
}   

@media (max-height: 800px) {
    .contenedor-principal{
        position: relative;
    }
    .intermedio{
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }
}   

@media(max-width: 910px){
    .texto-principal{
        margin-top: 130px;
        justify-content: space-between;
    }
}