@import url('/static/CSS/6-carrousel-aplicaciones.css');

footer {
    bottom: 0;
    font: normal 36px 'Cookie';
    
}


@media (max-width: 700px) {
    footer {
        position: static;
    }
    .footer-caja{
        margin-right: 75px;
    }
    .footer-company-about {
        text-align: center;
    }
}

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: 300 16px 'Poppins';
    padding: 150px 10px 120px 90px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */


.footer-left img{
    height: 140px;
    margin-left: 12%;
}
.footer-distributed .footer-left {
    width: 30%;
    margin-top: -50px;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie';
    margin: 0;
}


.footer-distributed h3 span {
    color: #FFB500;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
    margin-top: -40px;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 24px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 23px;
    line-height: 38px;
}

.footer-text{
    margin-top: 20px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #ffffff;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
    margin-top: -20px;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
}

.footer-company-about p{
    text-align: justify;
    font-size: 15px;
}

.footer-distributed .footer-icons {
    margin-top: 40px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #FFB500;
    color: black;
}


@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 60px;
        text-align: center;
    }


    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}       

@media (max-width: 435px) {
    .footer-left img{
        height: 200px;
        margin: 0 auto;      
    }
    .footer-distributed .footer-center{
        display: none;
    }

}