@import url('/static/CSS/7-footer.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

.body_store {
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    background-color: rgba(0,0,0,0.1);
}

.header1 {
    margin-bottom: 0;
}

.header3 {
    margin-bottom: 0;
}

.stoy {
    margin-top: 180px;
    text-decoration: none;
}

.store1 {
    max-width: 1200px;
    margin: 0 auto;
}

.stoy .store1 h1 {
    display: flex;
    justify-content: center;
    font-size: 2em;
    border-bottom: 2px solid #FFB500;
    margin-bottom: 30px;
    color: #000000; 
}

.stoy .store1 h2 {
    font-size: 20px;
    margin-bottom: 40px;
}

.stoy {
    padding: 20px;
}

.store1 {
    text-align: center;
}

.list1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.list12 {
    border: 2px solid #FFB500;
    padding: 10px;
    margin: 10px;
    width: 400px;
    color: white;
    background-color: rgba(0,0,0,0.65); 
    border-radius: 10px;
    transition: transform 0.3s ease; 
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

.list12:hover {
    transform: scale(1.05);
    background-color: rgba(0,0,0,0.9);
}

.list12 legend {
    font-size: 20px;
    font-weight: bold;
    color: #FFB500; 
}

.stoy .store1 h2 a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #FFB500; 
    color: #000000; 
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s; 
}

.stoy .store1 h2 a:hover {
    background-color: #000000; 
    color: #FFB500; 
}

.detalles_store {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #f2f2f2; 
}

.detal {
    background-color: #fff; 
    border: 2px solid #FFB500; 
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    text-align: center;
}

.detal h1 {
    font-size: 28px;
    color: #000; 
    margin-bottom: 20px;
}

.detal div {
    margin-bottom: 10px;
}

.detal div span {
    font-weight: bold;
}

.detal a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #FFB500; 
    color: #000000; 
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.detal a:hover {
    background-color: #000000;
    color: #FFB500; 
}

.store_delete {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #f2f2f2; 
}

.delet {
    background-color: #fff; 
    border: 2px solid #FFB500; 
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    text-align: center;
}

.delet h2 {
    font-size: 24px;
    color: #000; 
    margin-bottom: 20px;
}

.delet form {
    margin-bottom: 20px;
}

.delet form input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: #dc3545; 
    color: #000000; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.delet form input[type="submit"]:hover {
    background-color: #000000;
    color: #c82333; 
}

.delet a {
    display: inline-block;
    padding: 10px 20px;
    background-color:#FFB500; 
    color: #000000; 
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.delet a:hover {
    background-color: #000000;
    color: #FFB500; 
}


.store_create {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #f2f2f2; 
}

.creat {
    background-color: #fff; 
    border: 2px solid #FFB500; 
    border-radius: 20px; 
    padding: 40px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    text-align: center;
    cursor: pointer;
}

.creat form {
    margin-bottom: 40px;
}

.creat form label {
    font-size: 24px; 
}

.creat form input[type="submit"],
.creat a {
    display: inline-block;
    padding: 15px 30px; 
    font-size: 18px; 
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    background-color: #FFB500;
    color: #000;
    cursor: pointer;
}

.creat form input[type="submit"]:hover,
.creat a:hover {
    background-color: #000000; 
    color: #FFB500; 
}

/* tu-archivo-de-estilo.css */

.store1 span #multiple-text {
    font-size: 1em !important;
}


.footer_store{
    margin-top: 100px;
}


#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #FFB500; 
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

body.loaded #preloader {
    display: none;
}

.store_texto1 {
    margin-top: 20px;
    margin-bottom: 50px;
}

.store_texto1 p {
    font-size: 1.2em;
    color: #333; 
    line-height: 1.6;
    margin-bottom: 15px;
}

.store_texto1 h2 {
    color: #f39c12; 
    font-size: 2em;
    margin-bottom: 10px;
}

.store_texto1 ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
    text-align: justify;
}

.store_texto1 li {
    margin-bottom: 8px;
    position: relative;
}

.store_texto1 li:before {
    content: "\203A"; /* Símbolo de chevron › */
    color: #f39c12; 
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    position: absolute;
}

.store_texto1 strong {
    color: #f39c12; 
}

.store_texto1 a {
    color: #3498db; 
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.store_texto1 a:hover {
    color: #e74c3c; 
}

@media only screen and (max-width: 710px) {
    .store1 h1 {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 520px) {
    .store1 h1 {
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 400px) {
    .store1 h1 {
        font-size: 1em;
    }
}

@media only screen and (max-width: 362px) {
    .store1 h1 {
        font-size: 0.8em;
    }
}